body{
    font-family: sans-serif;
    font-size: 1.2rem;
    margin: 0;
}

a{
    text-decoration: none;
}

header div.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem;
    border: 1px solid red;

}

header div.header-container div.header-brand{
    margin:  0 1rem 1rem;
    position: relative;
    left: 10rem;
}
#brand{
    width: 5rem;
    border-radius: 50%;
}

nav ul.nav-list{
    display: flex;
    list-style: none;
    gap: 4rem;
}

nav ul.nav-list li.nav-item{
    
}

main{
    margin: 0 7rem;
}

section#sobre{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;

}

section#sobre div.titulo{

}
section#sobre h1{
    font-size: 4rem;
    margin-bottom: 2rem;
}

section#sobre div.descricao{
    display: flex;
    gap: 5rem;
}

section#sobre div.descricao div.descricao-texto{
    width: 80%;
}

section#sobre div.descricao div.descricao-texto p:last-child{
    margin-bottom: 0;
}


section#sobre div.descricao div.descricao-imagem img{
    width: 25rem;
}

section#servicos{
    display: flex;
    flex-direction: column;
    height: 100vh;
    border: 1px solid red;
    margin-bottom: 3rem;
}

section#servicos h2{
    margin-top: 0;
    text-align: center;
    line-height: 3rem;
    margin-top: 3rem;

}

section#servicos div.cards{

}


section#servicos div.cards div.card{
    background-color: red;
    width: 35%;
    height: 27rem;
    margin: auto;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* remover depois de concluir o swiper */
    margin-bottom: 1rem; 
}

section#servicos div.cards div.card header.card-header{
    background-color: black;
    border-radius: 5px 5px 0 0 ;
}

section#servicos div.cards div.card header.card-header h3{
    text-align: center;
    color: white;
    padding: 0.6rem;
    margin: 0;
 
}

section#servicos div.cards div.card div.card-body{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}   

section#servicos div.cards div.card div.card-body p{
    margin-top: 0;
    padding: 1rem;
    margin-bottom: 0;
    text-align: center;

}

section#servicos div.cards div.card div.card-body button{
    width: 30%;
    padding: 0.5rem;
    position: absolute;
    bottom: 9rem;
}